p {
  margin: 0;
  padding: 0;
}

.tool-bar__wrap {
  background-color: #2b579a;
  font-size: 14px;
  color: #fff;
  box-shadow: -1px 1px 2px 1px rgba(200,200,200,0.6);
  outline: none;
}

.tool-bar__tab-wrap {
  padding: 6px 24px 0;
}

.tool-bar__tab-item {
  line-height: 24px;
  display: inline-block;
  padding: 0 16px;
  cursor: pointer;
}

.tool-bar__tab-item.is-active {
  background-color: #f3f3f3;
  color: #2b579a;
}

.tool-bar__tab-item:not(.is-active):hover {
  background-color: #124078;
}

.tool-bar__tool--base, .tool-bar__tool--insert, .tool-bar__tool--layout {
  position: relative;
  background-color: #f3f3f3;
  color: #3D4757;
  line-height: 24px;
  min-height: 32px;
  padding: 4px 8px;
  box-sizing: border-box;
  display: none;
}

.zeditor-tool__item {
  position: relative;
  height: 24px;
  line-height: 24px;
  width: 24px;
  margin: 0 4px;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;  
}

.zeditor-tool__item.is-active,
.zeditor-tool__item:hover,
.zeditor-tool__item.show,
.zeditor-tool__item.open {
  background-color: #c6c6c6;
}

.zeditor-tool__item input {
  width: calc(100% - 12px);
  color: #3D4757;
}

.zeditor-tool__item.show .ze-popper__wrap,
.zeditor-tool__item.open .ze-popper__wrap {
  display: block;
}

.zeditor-tool__item .color-block {
  width: 16px;
  height: 4px;
  position: absolute;
  bottom: 3px;
  left: 2px;
  background-color: #000;
}

.zeditor-tool__item.fontName {
  text-align: left;
  padding: 0;
  width: 75px;
}

.zeditor-tool__item.fontSize {
  text-align: left;
  padding: 0;
  width: 50px;
}

.zeditor-tool__item.foreColor,
.zeditor-tool__item.backColor {
  width: 30px;
  padding: 0;
}

.zeditor-tool__item.foreColor i,
.zeditor-tool__item.backColor i {
  position: absolute;
  left: 2px;
  top: 2px;
}

.zeditor-tool__item.search,
.zeditor-tool__item.replace {
  position: static;
}












.tool-bar__title {
  text-align: center;
  color: #fff;
}
/* 工具栏样式结束 */

.editor-body__wrap {
  position: relative;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
  font-size: 11pt;
  overflow: hidden auto;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 3px;
}
/* 编辑器主体部分样式结束 */

/* icon 集合 */
[class*=" ze-icon-"], [class^="ze-icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-style: normal;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.ze-icon-bold {
  background-image: url(../images/icon-bold.svg);
}

.ze-icon-italic {
  background-image: url(../images/icon-italic.svg);
}

.ze-icon-underline {
  background-image: url(../images/icon-underline.svg);
}

.ze-icon-strikeThrough {
  background-image: url(../images/icon-strikeThrough.svg);
}

.ze-icon-foreColor {
  background-image: url(../images/icon-foreColor.svg);
}

.ze-icon-backColor {
  background-image: url(../images/icon-backColor.svg);
}

.ze-icon-justifyLeft {
  background-image: url(../images/icon-justifyLeft.svg);
}

.ze-icon-justifyCenter {
  background-image: url(../images/icon-justifyCenter.svg);
}

.ze-icon-justifyRight {
  background-image: url(../images/icon-justifyRight.svg);
}

.ze-icon-justifyFull {
  background-image: url(../images/icon-justifyFull.svg);
}

.ze-icon-removeFormat {
  background-image: url(../images/icon-removeFormat.svg);
}

.ze-icon-undo {
  background-image: url(../images/icon-undo.svg);
}

.ze-icon-redo {
  background-image: url(../images/icon-redo.svg);
}

.ze-icon-subscript {
  background-image: url(../images/icon-subscript.svg);
}

.ze-icon-superscript {
  background-image: url(../images/icon-superscript.svg);
}

.ze-icon-selectAll {
  background-image: url(../images/icon-selectAll.svg);
}

.ze-icon-search {
  background-image: url(../images/icon-search.svg);
}

.ze-icon-replace {
  background-image: url(../images/icon-replace.svg);
}

.ze-icon-lineHeight {
  background-image: url(../images/icon-lineHeight.svg);
}

.ze-icon-insertTable {
  background-image: url(../images/icon-insertTable.svg);
}

.ze-icon-insertImage {
  background-image: url(../images/icon-insertImage.svg);
}

.ze-icon-insertOrderedList {
  background-image: url(../images/icon-insertOrderedList.svg);
}

.ze-icon-insertUnorderedList {
  background-image: url(../images/icon-insertUnorderedList.svg);
}

.ze-icon-insertLink {
  background-image: url(../images/icon-insertLink.svg);
}

.ze-icon-insertChar {
  background-image: url(../images/icon-insertChar.svg);
}

.ze-icon-insertTime {
  background-image: url(../images/icon-insertTime.svg);
}

.ze-icon-insertRemark {
  background-image: url(../images/icon-insertRemark.svg);
}

.ze-icon-arrow--down {
  background-image: url(../images/icon-arrow--down.svg);
}

.ze-icon-arrow--up {
  background-image: url(../images/icon-arrow--down.svg);
  transform: rotate(-180deg);
}

.ze-icon-fork {
  background-image: url(../images/icon-fork.svg);
}

/* 三角箭头样式 */
.ze-arrow:after {
  position: absolute;
  top: calc(50% - 1.5px);
  content: "";
  width: 0;
  height: 0;
  right: 2px;
  border-color: #3D4757 transparent transparent;
  border-style: solid solid none;
  border-width: 3px 3px 0;
  transition: transform .3s;
}

.ze-arrow.up:after {
  transform: rotate(-180deg);
}

.ze-dropup:after {
  position: absolute;
  top: calc(50% - 1.5px);
  content: "";
  width: 0;
  height: 0;
  right: 2px;
  border-color: #505050 transparent transparent;
  border-style: solid solid none;
  border-width: 3px 3px 0;
  transition: transform .3s;
}

/* 输入框样式 */
.zeditor-tool__input {  
  height: 24px;
  padding-left: 2px;
  border: none;
  outline: none;
  vertical-align: top;
  background-color: transparent;  
  box-sizing: border-box;
}

/* 弹出层样式 */
.ze-popper__wrap {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 75px;
  max-height: 300px; 
  font-size: 12px;
  background-color: #fff;   
  margin: 0;
  padding: 4px 0;
  box-sizing: border-box;  
  list-style: none;
  box-shadow: 1px 2px 3px 1px #ccc;
  overflow: hidden auto;
  display: none;
  z-index: 10;
}

.ze-popper__item {
  padding: 0 8px;
  text-align: left;
}

.ze-popper__item:hover {
  background-color: #f3f3f3;
}

/* 颜色选择器样式 */
.ze-color-picker {
  width: 214px;
  height: 220px;
  padding: 4px 4px 8px 8px;  
  overflow: hidden;
  text-align: left;
  box-sizing: border-box;
}

.ze-color-picker__item {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 4px 4px 0 0;
  box-sizing: border-box;
}

.ze-color-picker__item.is-white {
  border: 1px solid #ddd;
}

.ze-color-picker__item.is-selected,
.ze-color-picker__item:hover {
  border: 1px solid #fff;
  box-shadow: 0px 0px 1px 1px #ffae00;
}

/* 替换 | 查找样式 */
.ze-search__wrap {
  top: 34px;
  right: 1px;
  left: auto;
  text-align: left;
  width: 400px;
}

.ze-search__banner {
  text-align: left;
  padding: 0 8px;
  font-weight: bold;
}

.ze-search__banner i {
  float: right;
}

.ze-search__body {
  padding: 0 8px;
}

.ze-search__body .left-content {
  overflow: hidden;
}

.ze-search__body .input {
  width: 100%;
}

.ze-search__body .right-btns {
  float: right;
}

.ze-search__body .ze-search__result {
  margin: 0 4px;
}

.ze-search__body i {
  margin-top: 4px;
}

.ze-search__item {
  background-color: yellow;
}




