.tool-bar__wrap {
  background-color: #2b579a;
  padding-top: 8px;
  font-size: 14px;
  color: #fff;
  box-shadow: -1px 1px 2px 1px rgba(200,200,200,0.6);
}

.tool-bar__tab-list {
  padding: 0 40px;
}

.tool-bar__tab-item {
  line-height: 28px;
  display: inline-block;
  padding: 0 16px;
  cursor: pointer;
}

.tool-bar__tab-item.is-active {
  background-color: #f3f3f3;
  color: #2b579a;
}

.tool-bar__tab-item:not(.is-active):hover {
  background-color: #124078;
}

.tool-bar__tool--base, .tool-bar__tool--insert, .tool-bar__tool--layout {
  background-color: #f3f3f3;
  color: #505050;
  height: 32px;
  line-height: 32px;
  padding: 4px 8px;
  box-sizing: border-box;
}

.zeditor-tool__item {
  position: relative;
  height: 24px;
  line-height: 24px;
  width: 24px;
  margin: 0 4px;
  text-align: center;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;  
}

.zeditor-tool__item.is-active,
.zeditor-tool__item.show,
.zeditor-tool__item:hover {
  background-color: #c6c6c6;
}

.zeditor-tool__item input {
  width: calc(100% - 20px);
  height: 22px;
  padding-left: 2px;
  border: none;
  outline: none;
  vertical-align: top;
  background-color: transparent;
  color: #505050;
  box-sizing: border-box;
}

.zeditor-tool__item .icon {
  display: inline-block;
  line-height: 24px;
  width: 20px;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.zeditor-tool__item.show .ze-popper__wrap {
  display: block;
}

.zeditor-tool__item.fontName {
  width: 75px;
}

.zeditor-tool__item.fontSize {
  width: 50px;
}










.tool-bar__title {
  text-align: center;
  color: #fff;
}
/* 工具栏样式结束 */

.editor-body__wrap {
  position: relative;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
  font-size: 11pt;
  overflow: hidden auto;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 8px;
}
/* 编辑器主体部分样式结束 */

[class*=" ze-icon-"], [class^=ze-icon-] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-style: normal;
  background-repeat: no-repeat;
  background-position: center;
}

.ze-icon-bold:after {
  content: 'B';
  font-weight: bold;
}

.ze-icon-italic:after {
  content: 'I';
  font-style: italic;
}

.ze-icon-underline:after {
  content: 'U';
  text-decoration: underline;
  font-size: 15px;
  vertical-align: top;
}

.ze-icon-strikeThrough:after {
  content: 'S';
  text-decoration: line-through;
}

.ze-icon-arrow--down {
  background-image: url(../images/icon-arrow-b.png);
}

.ze-popper__wrap {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 75px;
  max-height: 300px;
  overflow: hidden auto;
  display: none;
  z-index: 10;
  background-color: #fff;
  margin: 0;
  padding: 4px 0;
  box-sizing: border-box;  
  list-style: none;
  box-shadow: 1px 2px 3px 1px #ccc;
}

.ze-popper__item {
  padding: 0 8px;
  text-align: left;  
  font-size: 12px;
}

.ze-popper__item:hover {
  background-color: #f3f3f3;
}


